:root {
	--bg: #151515;
	--bg-highlight: #222;
	--light-gray: #cbc5bf;
	--accent-orange: #ff5900;
	--darkened-orange: #cc4700;
	--error-red: #ff4848;
}

html,
body,
button,
input,
select,
textarea {
	font-family: "Varela Round", sans-serif;
	font-size: 1rem;
}

body {
	background-color: var(--bg);
}

.App {
	text-align: center;
	max-width: 50rem;
	width: 90vw;
	margin: auto;
}
