/* Define Song Input Layout */
.Text-Input {
	overflow: hidden;
	/* Don't round corners against button */
	display: flex;
	border: 2px solid white;
	border-radius: 5px;
	margin-top: 2rem;
}

.Text-Input input:focus {
	outline: none;
}

.URL-Input {
	flex: 1;
	width: 85%;
	background-color: var(--bg);
	border: none;
	color: var(--light-gray);
	padding: 0.75rem 1.5rem;
}

.Hammer-Button {
	background-color: var(--accent-orange);
	border: none;
	color: white;
	transition-duration: 0.15s;
	font-size: 1.2rem;
	padding: 0.4rem 1rem;
}

.Hammer-Button:hover {
	background-color: var(--darkened-orange);
}

.Hammer-Button:active {
	background-color: var(--bg);
}

@keyframes slideFadeIn {
	from {
		opacity: 0;
		transform: translateY(-0.5rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.Error {
	color: var(--error-red);
	padding: 8px 12px;
	text-align: left;
	font-size: 0.8rem;
	opacity: 0;
	transition: opacity 0.1s ease-in;
	transform: translateY(-5px);
	margin-bottom: 1rem;
}

.Error.visible {
	opacity: 1;
}
